{% extends 'base.html' %}
{% load static %}
{% block extra_meta %}
<meta name="description" content="The Green Pup is the number one provider of green products for your pet." />
{% endblock %}
{% block extra_title %} - Shop for all our dog products{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">Popular Products</h1>
            <div class="my-5">
            <h4>
                <a href="#" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop today</a></h4>
            </div>
        </div>
    </div>
</div>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://dogbeds-2f2abe44d7a8.s3.eu-north-1.amazonaws.com/media/hero-dog.jpg" class="d-block w-100" alt="picture of dog">
      </div>
      <div class="carousel-item">
        <img src="https://dogbeds-2f2abe44d7a8.s3.eu-north-1.amazonaws.com/media/hero-dog-2.jpg" class="d-block w-100" alt="happy dog">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock content %}