<script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(product_item ) {
        var currentValue = parseInt($(`#id_qty_${product_item }`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${product_item }`).prop('disabled', minusDisabled);
        $(`#increment-qty_${product_item }`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }


    // Check enable/disable when the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('product_id');
        handleEnableDisable(itemId );
    });

    // Increase quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('product_id');
       handleEnableDisable(itemId);
    });

    // Decrease quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('product_id');
       handleEnableDisable(itemId);
    });
</script>