{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">All Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sort != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sort  == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sort == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sort == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="name_asc" {% if current_sort == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sort == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sort == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sort == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sort != 'None_None' %}
                            <span class="small"><a href="{% url 'all-products-list' %}">Products</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
                <div class="row">
                    {% for product in products %}
                        {% if product.in_stock %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <a href="{% url 'product-detail' product.id %}">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product-detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product-detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="/media/test.jpeg" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                {% if product.on_sale and product.discount_percent %}
                                    <div class="mt-1">
                                    <small class="text-success"><i class="fas fa-bolt mr-1"></i>{{ product.discount_percent }}% off</small>
                                    </div>
                                {% elif product.on_sale and not product.discount_percent %}
                                    <div class="mt-1">
                                    <small class="text-success"><i class="fas fa-bolt mr-1"></i>Sale</small>
                                    </div>
                                {% endif %}
                                    <p class="mb-0 font-weight-bold">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'all-products-list' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block postloadjs %}
    {{block.super}}
<script type="text/javascript">
    $('#sort-selector').change(function() {
        var selected = $(this);
        var current_url = new URL(window.location);

        var selected_value = selected.val();
        if (selected_value != 'reset') {
            var sort = selected_value.split('_')[0]
            var direction = selected_value.split('_')[1]
            
            current_url.searchParams.set('sort',sort)
            current_url.searchParams.set('direction',direction)
            window.location.replace(current_url)

        }
        else {
            current_url.searchParams.delete('sort')
            current_url.searchParams.delete('direction')
            window.location.replace(current_url)
        }

    })
</script>

{% endblock %}